# Practiquemos para el CheckPoint Modulo 2

![Pic](https://img.freepik.com/vector-gratis/icono-isometrico-tecnologia-informatica-sala-servidores-conjunto-dispositivos-digitales-elemento-diseno-computadora-portatil-pc_39422-1026.jpg?w=740&t=st=1675884734~exp=1675885334~hmac=f016d6a576614263e7ac80cc477af8cea31d280765e16388ca5858d4b595657e)

Marca verdadero o falso.

1) La KPI es una métrica importante para evaluar el éxito de un negocio.

Verdadero

2) El LTV se refiere al costo de adquisición de un cliente.

Falso. Es el valor de vida util del cliente

3) El CAC es el costo total de adquirir un cliente.

Verdadero

4) La probabilidad de que un evento sea independiente de otro es 1.

Falso. Estara entre 0 y 1

5) ¿Qué es el conversion rate?:  
a- El porcentaje de visitas a un sitio web que resultan en una conversión  
b- El costo total de adquirir un cliente  
c- El costo por conversión

a

6) ¿Qué es el churn rate?:  
a- El porcentaje de clientes que se van 
b- El porcentaje de clientes satisfechos con el producto 
c- El porcentaje de visitas a un sitio web que resultan en una conversión

a

7) ¿Cuál es el KPI a utilizar si una empresa de servicio de Streaming (Netflix, Prime Video, etc) quisiera saber si este mes tuvieron una baja tasa de cancelación de suscripciones?  
a- LTV  
b- CAC  
c- Conversion rate  
d- Churn Rate

d

### Ahora formulemos con Python las siguiente preguntas

8) Una moneda es lanzada 3 veces. ¿Cuál es la probabilidad de que salga cara en 3 ocasiones?

In [71]:
respuesta = 1/3 
print(respuesta)

0.3333333333333333

9) Una urna contiene 4 bolas blancas y 6 bolas negras. Si se eligen dos bolas al azar, ¿cuál es la probabilidad de que ambas sean blancas?

10) Si tenemos 2 eventos A y B, y la probabilidad de A es de 0.6 y la probabilidad de B es de 0.7, ¿cuál es la probabilidad de que ambos eventos ocurran?

In [72]:
respuesta = 0.6 * 0.7 
respuesta

0.42

11) Si tenemos una urna con 4 bolas rojas y 6 bolas azules, ¿cuál es la probabilidad de seleccionar una bola roja y luego una bola azul?

In [73]:
respuesta = (4/10) * (6/9) 
respuesta

0.26666666666666666

### Consulta a la base de datos

Recuerda poner las respuesta con la consulta de MySQL

In [124]:
import pymysql 
import pandas as pd

In [125]:
conexion = pymysql.connect( 
    host = "localhost", 
    user = "root", 
    passwd = "123456", 
    db = "venta"
 ) 
 
cursor = conexion.cursor()

In [126]:
df = pd.read_csv("ventas-por-factura.csv") 
df

,N° de factura,Fecha de factura,ID Cliente,País,Cantidad,Monto
0,548370,3/30/2021 16:14:00,15528.0,United Kingdom,123,"229,33"
1,575767,11/11/2021 11:11:00,17348.0,United Kingdom,163,"209,73"
2,C570727,10/12/2021 11:32:00,12471.0,Germany,-1,"-1,45"
3,549106,4/6/2021 12:08:00,17045.0,United Kingdom,1,"39,95"
4,573112,10/27/2021 15:33:00,16416.0,United Kingdom,357,"344,83"
...,...,...,...,...,...,...
25948,C556518,6/13/2021 10:53:00,16794.0,United Kingdom,-2,"-12,70"
25949,553060,5/13/2021 10:44:00,15826.0,United Kingdom,488,"720,00"
25950,577049,11/17/2021 13:58:00,17397.0,United Kingdom,104,"298,78"
25951,550122,4/14/2021 12:39:00,12931.0,United Kingdom,1176,"1488,00"
25952,537999,12/9/2020 11:44:00,NaN,United Kingdom,-223,"0,00"

In [127]:
df['Fecha de factura'] = pd.to_datetime(df['Fecha de factura'], format='%m/%d/%Y %H:%M:%S')
df['Fecha de factura'] = df['Fecha de factura'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [128]:
df = df.dropna()

In [129]:
values = [tuple(x) for x in df.values] 
values

[('548370', '2021-03-30 16:14:00', 15528.0, 'United Kingdom', 123, '229,33'),
 ('575767', '2021-11-11 11:11:00', 17348.0, 'United Kingdom', 163, '209,73'),
 ('C570727', '2021-10-12 11:32:00', 12471.0, 'Germany', -1, '-1,45'),
 ('549106', '2021-04-06 12:08:00', 17045.0, 'United Kingdom', 1, '39,95'),
 ('573112', '2021-10-27 15:33:00', 16416.0, 'United Kingdom', 357, '344,83'),
 ('576630', '2021-11-16 08:38:00', 13816.0, 'Germany', 91, '199,98'),
 ('538125', '2020-12-09 15:46:00', 18225.0, 'United Kingdom', 16, '30,00'),
 ('544354', '2021-02-18 10:42:00', 13489.0, 'United Kingdom', 64, '77,28'),
 ('546369', '2021-03-11 11:41:00', 15513.0, 'United Kingdom', 10, '67,50'),
 ('570651', '2021-10-11 13:34:00', 14911.0, 'EIRE', 86, '321,35'),
 ('C543628', '2021-02-10 15:51:00', 16558.0, 'United Kingdom', -5, '-9,25'),
 ('575581', '2021-11-10 11:53:00', 12659.0, 'France', 105, '91,68'),
 ('580987', '2021-12-06 16:35:00', 17389.0, 'United Kingdom', 96, '720,00'),
 ('543754', '2021-02-11 14:26:00', 18159.0, 'United Kingdom', 139, '530,15'),
 ('C553508', '2021-05-17 13:44:00', 14000.0, 'United Kingdom', -3, '-1,95'),
 ('563233', '2021-08-14 15:56:00', 17988.0, 'United Kingdom', 1, '2,95'),
 ('545417', '2021-03-02 13:42:00', 15622.0, 'United Kingdom', 222, '576,00'),
 ('C577693', '2021-11-21 11:48:00', 12628.0, 'Germany', -3, '-16,85'),
 ('C547309', '2021-03-22 11:17:00', 17416.0, 'United Kingdom', -12, '-45,00'),
 ('C555404', '2021-06-02 18:28:00', 17231.0, 'United Kingdom', -2, '-19,90'),
 ('576571', '2021-11-15 13:48:00', 12950.0, 'United Kingdom', 164, '311,60'),
 ('550623', '2021-04-19 13:56:00', 13719.0, 'United Kingdom', 78, '132,90'),
 ('576083', '2021-11-14 08:22:00', 17404.0, 'Sweden', 1060, '1238,48'),
 ('570733', '2021-10-12 11:33:00', 17190.0, 'United Kingdom', 160, '249,74'),
 ('537026', '2020-12-03 16:35:00', 12395.0, 'Belgium', 528, '346,10'),
 ('552837', '2021-05-11 14:24:00', 12901.0, 'United Kingdom', 72, '140,04'),
 ('C579925', '2021-12-01 09:16:00', 15544.0, 'United Kingdom', -3, '-2,55'),
 ('550535', '2021-04-19 11:19:00', 14211.0, 'United Kingdom', 72, '155,60'),
 ('555213', '2021-06-01 12:22:00', 13094.0, 'United Kingdom', 144, '152,64'),
 ('549923', '2021-04-13 09:59:00', 13138.0, 'United Kingdom', 72, '193,62'),
 ('575198', '2021-11-09 09:47:00', 12921.0, 'United Kingdom', 19, '71,25'),
 ('C549986', '2021-04-13 16:03:00', 18178.0, 'United Kingdom', -2, '-7,50'),
 ('569005', '2021-09-29 18:30:00', 16268.0, 'United Kingdom', 465, '493,76'),
 ('566307', '2021-09-12 09:37:00', 14307.0, 'United Kingdom', 323, '656,23'),
 ('539049', '2020-12-15 16:21:00', 15615.0, 'United Kingdom', 364, '1048,64'),
 ('580068', '2021-12-01 13:41:00', 17321.0, 'United Kingdom', 5, '41,25'),
 ('542745', '2021-01-31 16:47:00', 15881.0, 'United Kingdom', 154, '339,29'),
 ('575525', '2021-11-10 11:06:00', 13983.0, 'United Kingdom', 72, '128,88'),
 ('C562884', '2021-08-10 11:25:00', 14056.0, 'United Kingdom', -3, '-9,75'),
 ('C560842', '2021-07-21 12:25:00', 14527.0, 'United Kingdom', -1, '-12,15'),
 ('565682', '2021-09-06 10:42:00', 14796.0, 'United Kingdom', 467, '835,95'),
 ('C562514', '2021-08-05 12:20:00', 13408.0, 'United Kingdom', -1, '-11,95'),
 ('562220', '2021-08-03 14:19:00', 15150.0, 'United Kingdom', 108, '304,42'),
 ('562002', '2021-08-01 13:48:00', 14567.0, 'United Kingdom', 172, '800,76'),
 ('C561210', '2021-07-25 16:58:00', 17841.0, 'United Kingdom', -10, '-12,50'),
 ('C545502', '2021-03-03 11:33:00', 15078.0, 'United Kingdom', -10, '-19,50'),
 ('538010', '2020-12-09 12:20:00', 17526.0, 'United Kingdom', 40, '226,80'),
 ('579089', '2021-11-28 10:46:00', 17920.0, 'United Kingdom', 58, '111,11'),
 ('560713', '2021-07-20 13:09:00', 16774.0, 'United Kingdom', 56, '160,80'),
 ('571098', '2021-10-13 15:38:00', 17841.0, 'United Kingdom', 200, '437,43'),
 ('574994', '2021-11-08 11:03:00', 17870.0, 'United Kingdom', 62, '143,11'),
 ('570257', '2021-10-10 09:56:00', 13767.0, 'United Kingdom', 129, '380,31'),
 ('541669', '2021-01-20 12:29:00', 17315.0, 'United Kingdom', 172, '331,76'),
 ('C560687', '2021-07-20 11:51:00', 14606.0, 'United Kingdom', -28, '-23,37'),
 ('C569891', '2021-10-06 15:46:00', 13924.0, 'United Kingdom', -19, '-65,09'),
 ('552404', '2021-05-09 12:39:00', 15932.0, 'United Kingdom', 262, '305,02'),
 ('566035', '2021-09-08 13:17:00', 12839.0, 'United Kingdom', 286, '413,58'),
 ('576911', '2021-11-17 10:01:00', 17461.0, 'United Kingdom', 342, '349,20'),
 ('572272', '2021-10-21 16:18:00', 13171.0, 'United Kingdom', 60, '132,54'),
 ('577783', '2021-11-21 16:20:00', 18139.0, 'United Kingdom', 1644, '2786,40'),
 ('578757', '2021-11-25 11:41:00', 12748.0, 'United Kingdom', 256, '420,41'),
 ('C553557', '2021-05-17 17:03:00', 13266.0, 'United Kingdom', -2, '-3,20'),
 ('542351', '2021-01-27 12:13:00', 14560.0, 'United Kingdom', 39, '152,25'),
 ('C578090', '2021-11-22 17:03:00', 12483.0, 'Sweden', -2, '-80,00'),
 ('559164', '2021-07-06 16:39:00', 16422.0, 'United Kingdom', 406, '587,46'),
 ('578150', '2021-11-23 11:18:00', 16020.0, 'United Kingdom', 10, '16,50'),
 ('558770', '2021-07-03 15:19:00', 12748.0, 'United Kingdom', 60, '115,55'),
 ('C569552',
  '2021-10-04 17:44:00',
  14533.0,
  'United Kingdom',
  -1200,
  '-84,00'),
 ('C550646', '2021-04-19 16:32:00', 16873.0, 'United Kingdom', -6, '-14,40'),
 ('C571329', '2021-10-17 11:32:00', 17706.0, 'United Kingdom', -13, '-50,80'),
 ('C544557', '2021-02-21 12:31:00', 17422.0, 'United Kingdom', -15, '-55,35'),
 ('C539277', '2020-12-16 15:37:00', 15777.0, 'United Kingdom', -3, '-25,50'),
 ('C577731', '2021-11-21 13:06:00', 17811.0, 'United Kingdom', -6, '-11,70'),
 ('580386', '2021-12-04 10:29:00', 18065.0, 'United Kingdom', 50, '188,90'),
 ('C553866', '2021-05-19 14:14:00', 14620.0, 'United Kingdom', -26, '-19,50'),
 ('570252', '2021-10-10 09:14:00', 14665.0, 'United Kingdom', 238, '559,52'),
 ('536782', '2020-12-02 15:18:00', 17567.0, 'United Kingdom', 244, '517,95'),
 ('C544594', '2021-02-21 16:58:00', 15079.0, 'United Kingdom', -1, '-1,95'),
 ('551984', '2021-05-05 14:37:00', 15841.0, 'United Kingdom', 234, '281,66'),
 ('C554931', '2021-05-27 13:21:00', 17841.0, 'United Kingdom', -4, '-5,00'),
 ('564476', '2021-08-25 12:57:00', 12610.0, 'Italy', 168, '309,50'),
 ('540353', '2021-01-06 14:53:00', 13764.0, 'United Kingdom', 282, '499,89'),
 ('558706', '2021-07-01 12:52:00', 16839.0, 'United Kingdom', 320, '416,96'),
 ('566278', '2021-09-11 14:05:00', 13614.0, 'United Kingdom', 67, '302,15'),
 ('540477', '2021-01-07 14:49:00', 13233.0, 'United Kingdom', 404, '304,24'),
 ('569695', '2021-10-05 15:35:00', 16843.0, 'United Kingdom', 938, '993,88'),
 ('C556920', '2021-06-15 13:49:00', 13047.0, 'United Kingdom', -3, '-13,85'),
 ('C543469', '2021-02-08 14:55:00', 12709.0, 'Germany', -12, '-83,98'),
 ('538308', '2020-12-10 13:29:00', 14107.0, 'United Kingdom', 268, '363,24'),
 ('549054', '2021-04-06 10:21:00', 17719.0, 'United Kingdom', 109, '312,19'),
 ('555626', '2021-06-06 11:55:00', 16103.0, 'United Kingdom', 92, '270,80'),
 ('C572343',
  '2021-10-24 10:40:00',
  14607.0,
  'United Kingdom',
  -2344,
  '-2949,28'),
 ('C558530', '2021-06-30 11:26:00', 15039.0, 'United Kingdom', -2, '-17,00'),
 ('563921', '2021-08-21 14:00:00', 16407.0, 'United Kingdom', 2, '15,90'),
 ('563943', '2021-08-22 10:04:00', 13139.0, 'United Kingdom', 268, '540,92'),
 ('575854', '2021-11-11 12:20:00', 14125.0, 'United Kingdom', 486, '1111,08'),
 ('552764', '2021-05-11 11:34:00', 17489.0, 'United Kingdom', 232, '208,56'),
 ('571407', '2021-10-17 12:16:00', 13750.0, 'United Kingdom', 85, '330,63'),
 ('548208', '2021-03-29 17:12:00', 14189.0, 'United Kingdom', 224, '314,10'),
 ('556922', '2021-06-15 13:56:00', 12748.0, 'United Kingdom', 5, '14,25'),
 ('572076', '2021-10-20 14:01:00', 13761.0, 'United Kingdom', 418, '578,94'),
 ('544189', '2021-02-16 16:40:00', 15867.0, 'United Kingdom', 36, '133,00'),
 ('562543', '2021-08-05 15:45:00', 13552.0, 'United Kingdom', 216, '463,90'),
 ('573136', '2021-10-27 17:00:00', 12709.0, 'Germany', 110, '268,68'),
 ('558261', '2021-06-28 08:39:00', 16945.0, 'United Kingdom', 24, '10,08'),
 ('581482', '2021-12-09 09:08:00', 17490.0, 'United Kingdom', 228, '488,40'),
 ('559538', '2021-07-10 12:25:00', 16880.0, 'United Kingdom', 135, '269,49'),
 ('548862', '2021-04-04 13:47:00', 17956.0, 'United Kingdom', 1, '12,75'),
 ('565569', '2021-09-05 12:21:00', 14111.0, 'United Kingdom', 18, '48,30'),
 ('556047', '2021-06-08 12:57:00', 12901.0, 'United Kingdom', 90, '276,24'),
 ('548189', '2021-03-29 15:15:00', 16607.0, 'United Kingdom', 163, '141,41'),
 ('557213', '2021-06-17 12:16:00', 15021.0, 'United Kingdom', 119, '218,14'),
 ('571310', '2021-10-17 10:17:00', 13394.0, 'United Kingdom', 463, '371,73'),
 ('542254', '2021-01-26 16:41:00', 14733.0, 'United Kingdom', 133, '511,69'),
 ('C553841', '2021-05-19 12:19:00', 16029.0, 'United Kingdom', -48, '-9,60'),
 ('548546', '2021-03-31 19:20:00', 16600.0, 'United Kingdom', 186, '111,60'),
 ('558563', '2021-06-30 13:43:00', 14561.0, 'United Kingdom', 192, '344,92'),
 ('546034', '2021-03-09 09:44:00', 14032.0, 'United Kingdom', 291, '309,64'),
 ('557602', '2021-06-21 11:57:00', 14110.0, 'United Kingdom', 156, '379,72'),
 ('544596', '2021-02-21 17:35:00', 16441.0, 'United Kingdom', 110, '211,00'),
 ('553006', '2021-05-12 16:45:00', 15544.0, 'United Kingdom', 393, '560,35'),
 ('542634', '2021-01-31 10:42:00', 15448.0, 'United Kingdom', 232, '494,64'),
 ('540536', '2021-01-09 14:21:00', 17757.0, 'United Kingdom', 93, '145,50'),
 ('536568', '2020-12-01 15:28:00', 16048.0, 'United Kingdom', 12, '5,04'),
 ('545686', '2021-03-06 12:09:00', 18211.0, 'United Kingdom', 56, '137,90'),
 ('553861', '2021-05-19 13:58:00', 13591.0, 'United Kingdom', 135, '314,03'),
 ('C551015', '2021-04-26 11:06:00', 12753.0, 'Japan', -33, '-85,47'),
 ('567370', '2021-09-20 09:13:00', 14236.0, 'United Kingdom', 272, '301,56'),
 ('560034', '2021-07-14 13:35:00', 13933.0, 'United Kingdom', 113, '300,99'),
 ('547419', '2021-03-23 10:27:00', 15061.0, 'United Kingdom', 1135, '1649,58'),
 ('C565681', '2021-09-06 10:42:00', 15521.0, 'United Kingdom', -92, '-192,40'),
 ('565680', '2021-09-06 10:27:00', 14560.0, 'United Kingdom', 240, '100,80'),
 ('561244', '2021-07-26 11:24:00', 13865.0, 'United Kingdom', 54, '100,82'),
 ('C576831',
  '2021-11-16 14:56:00',
  12748.0,
  'United Kingdom',
  -1082,
  '-1301,00'),
 ('542155', '2021-01-26 10:51:00', 15777.0, 'United Kingdom', 112, '285,60'),
 ('572023', '2021-10-20 11:03:00', 17764.0, 'United Kingdom', 247, '556,85'),
 ('577749', '2021-11-21 14:26:00', 16242.0, 'United Kingdom', 299, '534,20'),
 ('C537383', '2020-12-06 13:17:00', 16550.0, 'United Kingdom', -3, '-9,05'),
 ('550901', '2021-04-21 12:12:00', 13389.0, 'United Kingdom', 115, '257,89'),
 ('555546', '2021-06-05 13:09:00', 17735.0, 'United Kingdom', 118, '228,30'),
 ('561900', '2021-07-31 15:31:00', 16655.0, 'United Kingdom', 523, '638,19'),
 ('547963', '2021-03-28 15:42:00', 13037.0, 'United Kingdom', 158, '250,42'),
 ('575968', '2021-11-13 12:47:00', 14882.0, 'United Kingdom', 92, '341,80'),
 ('571745', '2021-10-19 10:48:00', 14911.0, 'EIRE', 711, '1588,75'),
 ('543115', '2021-02-03 13:27:00', 14606.0, 'United Kingdom', 72, '120,75'),
 ('552947', '2021-05-12 11:57:00', 16943.0, 'United Kingdom', 20, '172,10'),
 ('550002', '2021-04-14 09:30:00', 12709.0, 'Germany', 41, '68,00'),
 ('569539', '2021-10-04 15:58:00', 18102.0, 'United Kingdom', 112, '557,76'),
 ('545812', '2021-03-07 12:26:00', 14214.0, 'United Kingdom', 313, '638,65'),
 ('569740', '2021-10-06 10:52:00', 15769.0, 'United Kingdom', 1600, '2924,00'),
 ('564648', '2021-08-26 14:04:00', 15641.0, 'United Kingdom', 466, '581,82'),
 ('551859', '2021-05-04 15:37:00', 14336.0, 'United Kingdom', 301, '230,03'),
 ('538070', '2020-12-09 14:08:00', 16519.0, 'United Kingdom', 24, '103,70'),
 ('576848', '2021-11-16 15:38:00', 15051.0, 'United Kingdom', 124, '245,68'),
 ('546442', '2021-03-14 10:38:00', 15159.0, 'United Kingdom', 54, '207,30'),
 ('560422', '2021-07-18 15:14:00', 16746.0, 'United Kingdom', 162, '300,18'),
 ('C546894', '2021-03-17 18:21:00', 14334.0, 'United Kingdom', -1, '-12,75'),
 ('559948', '2021-07-14 10:41:00', 12653.0, 'Israel', 633, '1430,75'),
 ('539688', '2020-12-21 11:00:00', 12678.0, 'France', 1, '150,00'),
 ('548916', '2021-04-05 10:07:00', 14849.0, 'United Kingdom', 377, '422,34'),
 ('565851', '2021-09-07 13:06:00', 14911.0, 'EIRE', 332, '637,29'),
 ('538909', '2020-12-15 10:48:00', 13491.0, 'United Kingdom', 18, '97,50'),
 ('553475', '2021-05-17 11:31:00', 18102.0, 'United Kingdom', 306, '866,40'),
 ('536523', '2020-12-01 12:50:00', 12868.0, 'United Kingdom', 112, '203,30'),
 ('547571', '2021-03-24 09:52:00', 16265.0, 'United Kingdom', 182, '432,30'),
 ('557871', '2021-06-23 12:41:00', 13458.0, 'United Kingdom', 130, '300,78'),
 ('C565290', '2021-09-02 11:46:00', 16092.0, 'United Kingdom', -24, '-30,00'),
 ('553017', '2021-05-12 19:01:00', 12757.0, 'Portugal', 311, '602,83'),
 ('549471', '2021-04-08 14:39:00', 17389.0, 'United Kingdom', 72, '73,50'),
 ('573924', '2021-11-02 09:45:00', 15065.0, 'United Kingdom', 202, '299,38'),
 ('C554011', '2021-05-20 12:55:00', 13151.0, 'United Kingdom', -2, '-7,50'),
 ('576641', '2021-11-16 09:59:00', 17549.0, 'United Kingdom', 150, '120,66'),
 ('574746', '2021-11-07 08:30:00', 16523.0, 'United Kingdom', 198, '676,80'),
 ('546019', '2021-03-08 17:25:00', 14507.0, 'United Kingdom', 50, '39,49'),
 ('556809', '2021-06-14 16:48:00', 17179.0, 'United Kingdom', 82, '223,48'),
 ('567768', '2021-09-22 11:17:00', 15950.0, 'United Kingdom', 123, '255,84'),
 ('574661', '2021-11-06 11:56:00', 13447.0, 'United Kingdom', 166, '430,30'),
 ('C575940',
  '2021-11-13 11:38:00',
  17838.0,
  'United Kingdom',
  -458,
  '-466,60'),
 ('549838', '2021-04-12 13:39:00', 16705.0, 'United Kingdom', 48, '96,00'),
 ('547519', '2021-03-23 14:46:00', 16308.0, 'United Kingdom', 1000, '320,00'),
 ('C554140', '2021-05-23 10:34:00', 13004.0, 'United Kingdom', -4, '-15,80'),
 ('C558736', '2021-07-01 15:14:00', 18075.0, 'United Kingdom', -4, '-18,28'),
 ('577080', '2021-11-17 15:24:00', 17001.0, 'United Kingdom', 172, '357,60'),
 ('560048', '2021-07-14 15:02:00', 13515.0, 'United Kingdom', 127, '132,16'),
 ('C566963', '2021-09-15 17:09:00', 17573.0, 'United Kingdom', -6, '-17,70'),
 ('568709', '2021-09-28 15:42:00', 15036.0, 'United Kingdom', 176, '219,86'),
 ('578171', '2021-11-23 11:36:00', 17685.0, 'United Kingdom', 207, '392,40'),
 ('576400', '2021-11-15 10:51:00', 13632.0, 'United Kingdom', 288, '452,14'),
 ('542083', '2021-01-25 12:26:00', 18008.0, 'United Kingdom', 355, '130,81'),
 ('579759', '2021-11-30 15:02:00', 15251.0, 'United Kingdom', 244, '363,88'),
 ('537628', '2020-12-07 15:02:00', 16293.0, 'United Kingdom', 189, '378,75'),
 ('542096', '2021-01-25 12:52:00', 17236.0, 'United Kingdom', 141, '199,33'),
 ('C541284', '2021-01-17 12:45:00', 17744.0, 'United Kingdom', -36, '-31,32'),
 ('576909', '2021-11-17 09:49:00', 12471.0, 'Germany', 519, '1072,12'),
 ('560105', '2021-07-14 19:23:00', 16794.0, 'United Kingdom', 263, '222,13'),
 ('541709', '2021-01-21 11:09:00', 17504.0, 'United Kingdom', 233, '441,15'),
 ('578272', '2021-11-23 13:40:00', 17463.0, 'United Kingdom', 126, '198,31'),
 ('555363', '2021-06-02 14:15:00', 14453.0, 'United Kingdom', 49, '119,93'),
 ('566033', '2021-09-08 13:07:00', 16031.0, 'United Kingdom', 204, '243,31'),
 ('562155', '2021-08-03 11:24:00', 17940.0, 'United Kingdom', 648, '162,00'),
 ('C575142', '2021-11-08 15:36:00', 17183.0, 'United Kingdom', -30, '-37,50'),
 ('561047', '2021-07-24 12:46:00', 16948.0, 'United Kingdom', 1368, '194,48'),
 ('C544442', '2021-02-20 10:30:00', 15465.0, 'United Kingdom', -3, '-32,85'),
 ('568527', '2021-09-27 13:21:00', 13178.0, 'United Kingdom', 539, '765,00'),
 ('563382', '2021-08-16 10:50:00', 18221.0, 'United Kingdom', 145, '169,85'),
 ('C560220', '2021-07-15 15:22:00', 14572.0, 'United Kingdom', -1, '-12,75'),
 ('C548647', '2021-04-01 13:17:00', 12888.0, 'United Kingdom', -3, '-29,85'),
 ('549196', '2021-04-07 10:33:00', 14911.0, 'EIRE', 271, '356,23'),
 ('577599', '2021-11-21 08:26:00', 15738.0, 'United Kingdom', 202, '316,90'),
 ('569567', '2021-10-05 09:56:00', 16059.0, 'United Kingdom', 40, '105,30'),
 ('576347', '2021-11-14 15:38:00', 13268.0, 'United Kingdom', 2, '8,20'),
 ('544569', '2021-02-21 12:58:00', 16980.0, 'United Kingdom', 418, '732,36'),
 ('542865', '2021-02-01 12:08:00', 12929.0, 'United Kingdom', 37, '117,85'),
 ('562789', '2021-08-09 13:50:00', 14646.0, 'Netherlands', 7807, '12341,21'),
 ('567798', '2021-09-22 12:00:00', 13089.0, 'United Kingdom', 331, '886,63'),
 ('C539838', '2020-12-22 13:59:00', 13458.0, 'United Kingdom', -10, '-16,50'),
 ('565577', '2021-09-05 12:24:00', 14177.0, 'United Kingdom', 2, '7,50'),
 ('550915', '2021-04-21 13:30:00', 13263.0, 'United Kingdom', 69, '133,59'),
 ('541293', '2021-01-17 13:39:00', 15311.0, 'United Kingdom', 145, '394,57'),
 ('578688', '2021-11-25 09:27:00', 16719.0, 'United Kingdom', 235, '292,67'),
 ('560896', '2021-07-21 17:26:00', 15623.0, 'United Kingdom', 125, '301,03'),
 ('561711', '2021-07-29 11:45:00', 13414.0, 'United Kingdom', 368, '532,80'),
 ('C575385', '2021-11-09 15:19:00', 15916.0, 'United Kingdom', -3, '-18,55'),
 ('C571023', '2021-10-13 12:18:00', 15239.0, 'United Kingdom', -3, '-16,25'),
 ('575701', '2021-11-10 16:59:00', 13396.0, 'United Kingdom', 461, '973,72'),
 ('547886', '2021-03-28 09:21:00', 13652.0, 'United Kingdom', 178, '329,44'),
 ('562467', '2021-08-05 11:50:00', 13513.0, 'United Kingdom', 109, '205,10'),
 ('563927', '2021-08-21 15:01:00', 14013.0, 'United Kingdom', 258, '199,22'),
 ('C565229', '2021-09-02 09:12:00', 17450.0, 'United Kingdom', -1, '-200,00'),
 ('581471', '2021-12-08 19:29:00', 14702.0, 'United Kingdom', 76, '199,29'),
 ('573230', '2021-10-28 11:55:00', 13199.0, 'United Kingdom', 48, '85,92'),
 ('568656', '2021-09-28 12:21:00', 14911.0, 'EIRE', 70, '141,62'),
 ('554502', '2021-05-24 14:47:00', 14289.0, 'United Kingdom', 26, '124,68'),
 ('581017', '2021-12-07 10:06:00', 14910.0, 'United Kingdom', 80, '110,80'),
 ('546428', '2021-03-13 14:55:00', 12681.0, 'France', 185, '343,29'),
 ('571090', '2021-10-13 15:28:00', 15271.0, 'United Kingdom', 34, '79,50'),
 ('540856', '2021-01-12 10:16:00', 16655.0, 'United Kingdom', 373, '812,25'),
 ('568242', '2021-09-26 12:11:00', 14931.0, 'Channel Islands', 181, '261,65'),
 ('550713', '2021-04-20 11:11:00', 15159.0, 'United Kingdom', 1, '12,50'),
 ('542100', '2021-01-25 13:15:00', 15339.0, 'United Kingdom', 159, '257,90'),
 ('549833', '2021-04-12 13:19:00', 13458.0, 'United Kingdom', 666, '1015,14'),
 ('571918', '2021-10-19 16:05:00', 17350.0, 'United Kingdom', 240, '156,24'),
 ('537759', '2020-12-08 11:42:00', 13126.0, 'United Kingdom', 108, '203,64'),
 ('555940', '2021-06-08 10:10:00', 14191.0, 'United Kingdom', 98, '357,60'),
 ('C574318', '2021-11-03 19:11:00', 16729.0, 'United Kingdom', -7, '-20,20'),
 ('560834', '2021-07-21 12:15:00', 16523.0, 'United Kingdom', 204, '484,40'),
 ('554366', '2021-05-24 10:24:00', 17450.0, 'United Kingdom', 3084, '9468,48'),
 ('566520', '2021-09-13 11:26:00', 17757.0, 'United Kingdom', 61, '161,19'),
 ('537471', '2020-12-07 10:51:00', 14344.0, 'United Kingdom', 3, '17,85'),
 ('562034', '2021-08-02 09:14:00', 12449.0, 'Belgium', 267, '777,95'),
 ('C562709', '2021-08-08 14:32:00', 17511.0, 'United Kingdom', -11, '-29,49'),
 ('568332', '2021-09-26 14:30:00', 13434.0, 'United Kingdom', 240, '461,40'),
 ('C574010', '2021-11-02 11:51:00', 17841.0, 'United Kingdom', -3, '-10,35'),
 ('537456', '2020-12-07 09:43:00', 17450.0, 'United Kingdom', 780, '1989,24'),
 ('569693', '2021-10-05 15:18:00', 17837.0, 'United Kingdom', 105, '250,95'),
 ('573131', '2021-10-27 16:44:00', 15622.0, 'United Kingdom', 106, '381,95'),
 ('540099', '2021-01-04 16:41:00', 15808.0, 'United Kingdom', 322, '733,92'),
 ('546220', '2021-03-10 12:16:00', 16745.0, 'United Kingdom', 584, '541,10'),
 ('C578039', '2021-11-22 14:13:00', 17338.0, 'United Kingdom', -1, '-10,95'),

In [130]:
cursor.executemany('INSERT INTO compraVenta(numFactura, fechaDeFactura, idCliente, pais, cantidad, monto) VALUES (%s,%s,%s,%s,%s,%s)', values)

22229

In [131]:
conexion.commit()

In [123]:
conexion.close()

12) ¿Cuántos productos se vendieron en el último año?

In [ ]:
SELECT year(fechaDeFactura), sum(cantidad) 
from compraVenta
GROUP BY year(fechaDeFactura);  
LIMIT 1;

RESPUESTA = 46.110.046

13) ¿Cuántos clientes han comprado más de 3 productos en los últimos 2 años?

In [ ]:
SELECT idCliente, cantidad
FROM compraVenta  
GROUP BY idCliente 
ORDER BY cantidad DESC; 
 
respuesta = idCliente 13256 - 12415 - 18251

14) ¿Cuál es el promedio de los precios de los productos vendidos en los últimos 5 años?

In [ ]:
SELECT AVG(monto) as total 
from compraVenta
 
respuesta el promedio es de 373.15